<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455498624462-e50nd1bas0lbceovdugaantnqt7e90fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455498624462-e50nd1bas0lbceovdugaantnqt7e90fe</string>
	<key>API_KEY</key>
	<string>AIzaSyC6FlR9fw5_dADQarFeTy-SUaaZjL32noo</string>
	<key>GCM_SENDER_ID</key>
	<string>455498624462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yukimatsushita.shape</string>
	<key>PROJECT_ID</key>
	<string>shape-ce043</string>
	<key>STORAGE_BUCKET</key>
	<string>shape-ce043.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:455498624462:ios:938c83155f666073</string>
	<key>DATABASE_URL</key>
	<string>https://shape-ce043.firebaseio.com</string>
</dict>
</plist>
